page-graph {
    .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }
    ion-card {
        max-width: 30em !important;
        margin: auto !important;

    }

}
