page-input {
    .scroll-content {
        background-color: map-get($colors, light);
    }
    
    .bg {
        background-color: color($colors, primary) !important;
    }
    .align-items-flex-end {
        align-items: flex-end;
        -webkit-align-items: flex-end;
    }
    .text-green {
        color: color($colors, primary) !important;
    }

    ion-input {
        input {
          text-align: right;
          color: color($colors, purple);
        }
    }

    .center{
        text-align:center !important;
   }

   .white {
       background: white;
   }

   ion-card {
    max-width: 30em !important;
    margin: 1em auto !important;
}

}