<!--
  Generated template for the InputPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Input</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="alert()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card class="bg">
    <ion-card-header>
      Controller Variable Ranges
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>CO Min</ion-label>
            <ion-input type="number" [(ngModel)]="minCO">0</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>CO Max</ion-label>
            <ion-input type="number" [(ngModel)]="maxCO">100</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>PV Min</ion-label>
            <ion-input type="number" [(ngModel)]="minPV">0</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>PV Max</ion-label>
            <ion-input type="number" [(ngModel)]="maxPV">100</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="bg">
    <ion-card-header>
      Open Loop Observations
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Units</ion-label>
            <ion-select [(ngModel)]="unit" interface="popover">
              <ion-option value="sec">sec</ion-option>
              <ion-option value="min">min</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>CO Step Change</ion-label>
            <ion-input type="number" [(ngModel)]="deltaCO"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Process Dead Time</ion-label>
            <ion-input type="number" [(ngModel)]="inputDeadTime"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Elapsed Time</ion-label>
            <ion-input type="number" [(ngModel)]="elapsedTime"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Initial SS PV Value</ion-label>
            <ion-input type="number" [(ngModel)]="initialPV"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Final SS PV Value</ion-label>
            <ion-input type="number" [(ngModel)]="finalPV"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-row center>
    <ion-col text-center>
      <button ion-button color="purple" (click)="alert()">Submit</button>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="tuningCalculated" class="bg">
    <ion-card-header>
      Recommended Tuning Settings
    </ion-card-header>
    <ion-grid text-center class="white">
      <ion-row>
        <ion-col><b>Type</b></ion-col>
        <ion-col><b>Gain</b></ion-col>
        <ion-col><b>Reset</b></ion-col>
        <ion-col><b>CL Time Constant</b></ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col>Conservative</ion-col>
        <ion-col>{{gain.conservative.toFixed(2)}}</ion-col>
        <ion-col>{{reset.toFixed(1)}}</ion-col>
        <ion-col>{{CLTimeConstant.conservative.toFixed(1)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Moderate</ion-col>
        <ion-col>{{gain.moderate.toFixed(2)}}</ion-col>
        <ion-col>{{reset.toFixed(1)}}</ion-col>
        <ion-col>{{CLTimeConstant.moderate.toFixed(1)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Aggressive</ion-col>
        <ion-col>{{gain.aggressive.toFixed(2)}}</ion-col>
        <ion-col>{{reset.toFixed(1)}}</ion-col>
        <ion-col>{{CLTimeConstant.aggressive.toFixed(1)}}</ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>Custom</ion-col>
        <ion-col>{{gain.custom.toFixed(2)}}</ion-col>
        <ion-col>{{reset.toFixed(1)}}</ion-col>
        <ion-col>
          <ion-input [(ngModel)]="CLTimeConstant.custom"></ion-input>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>Cohen Coon</ion-col>
        <ion-col>{{gain.cohenCoon.toFixed(2)}}</ion-col>
        <ion-col>{{cohenCoonReset.toFixed(1)}}</ion-col>
        <ion-col>N/A</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card *ngIf="tuningCalculated" class="bg">
    <ion-card-header>
      Closed Loop Controller Settings
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>SP Change</ion-label>
            <ion-input type="number" [(ngModel)]="inputSetpoint">0</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Gain</ion-label>
            <ion-input type="number" [(ngModel)]="inputGain">100</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Reset</ion-label>
            <ion-input type="number" [(ngModel)]="inputReset">0</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<!-- <ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Controller Output</ion-label>

      <ion-badge color="purple" item-right>{{this.COMin2}}</ion-badge>
      <ion-badge color="purple" item-right>{{this.COMax2}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-range color="purple" dualKnobs="true" [min]=COMin [max]=COMax step="3" [(ngModel)]="CO" (ionChange)="setBadge(time)"></ion-range>
    </ion-item>
  </ion-col>
</ion-row> -->